<div class="container pulldown text-center">
  <div class="row">
      <div class="col-md-12">
          <div class="error-template">
              <h1>
                  Oops!</h1>
              <div class="error-details">
                  <h2>You can't access this page.</h2>
              </div>
              <div class="container pulldownbit">
                  <a href="/" class="btn btn-primary">
                      Take Me Home </a>
              </div>
          </div>
      </div>
  </div>
</div>