<div class="container pulldown">
  <div class="row">
    <div class="col-3">
      <div class="list-group">
        <a *ngFor='let menuitem of menu' class="list-group-item list-group-item-action" [class.active]='category===menuitem.key'
          routerLink='/portal/admin' [queryParams]='{category : menuitem.key}'>
          <h6>{{menuitem.name}}</h6>
        </a>
      </div>
    </div>
    <div class="col">
      <div *ngIf="category==='dashboard'" class="card">
        <div class="card-header">
          Dashboard
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Admins</h4>
                  <div class="card-text text-center text-primary">
                    <h2>5</h2>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Teachers</h4>
                  <div class="card-text text-center text-primary">
                    <h2>12</h2>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row pulldownbit">
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Registered Students</h4>
                  <div class="card-text text-center text-primary">
                    <h2>124</h2>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">New Applications</h4>
                  <div class="card-text text-center text-primary">
                    <h2>221</h2>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row pulldownbit">
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Leave Applications</h4>
                  <div class="card-text text-center text-primary">
                    <h2>3</h2>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Noticeboard Posts</h4>
                  <div class="card-text text-center text-primary">
                    <h2>221</h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="category==='studentdetails'" class="card">
        <div class="card-header">
          Student Details
        </div>
        <div class="card-body">
          <form class="form-inline">
            <div class="form-group mb-2">
              <label for="staticEmail2" class="sr-only">Student ID</label>
              <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="Student">
            </div>
            <div class="form-group mx-sm-3 mb-2">
              <label for="inputPassword2" class="sr-only"></label>
              <input #id type="text" class="form-control" id="inputPassword2" placeholder="XXXXXXX">
            </div>
            <button type="submit" class="btn btn-primary mb-2" (click)='getStudentData(id.value)'>Get Details</button>
          </form>
          <div *ngIf='this.hasStudentDetails' class="pulldownbit">
            <form class="form-horizontal ng-pristine ng-valid" #fm="ngForm" (ngSubmit)="register(fm.value)">
              <div class="form-group">
                <label class="control-label" for="inputContact1">Child's First Name</label>
                <div class="col-sm-10">
                  <input class="form-control" id="inputContact1" type="text" placeholder="" value="{{this.child_first_name}}">
                </div>
              </div>
              <div class="form-group">
                <label class='control-label' for="inputContact2">Child's Last Name</label>
                <div class="col-sm-10">
                  <input class="form-control" id="inputContact2" type="text" value="{{this.child_last_name}}">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label" for="inputContact6">Address</label>
                <div class="col-sm-10">
                  <textarea class="form-control" id="inputContact6" row="4">{{this.address}}</textarea>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label" for="inputContact3">Birthday</label>
                <div class="col-sm-10">
                  <div class="input-group">
                    <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                        <img src="/assets/date.png" style="width: 1.2rem; height: 1rem; cursor: pointer;" />
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label" for="inputContact4">City</label>
                <div class="col-sm-10">
                  <input class="form-control" id="inputContact4" type="text" value="{{this.city}}">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label" for="inputContact5">Year</label>
                <div class="col-sm-10">
                  <input class="form-control" id="inputContact5" type="text" value="{{this.year}}">
                </div>
              </div>

              <div class="form-group">
                <label class="control-label" for="inputContact7">Parent's First Name</label>
                <div class="col-sm-10">
                  <input class="form-control" id="inputContact7" type="text" value="{{this.parent_first_name}}">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label" for="inputContact8">Parent's Last Name</label>
                <div class="col-sm-10">
                  <input class="form-control" id="inputContact8" type="text" value="{{this.parent_last_name}}">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label" for="inputContact9">Phone Number</label>
                <div class="col-sm-10">
                  <input class="form-control" id="inputContact9" type="text" placeholder="" value="{{this.phn_num}}">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label" for="inputContact10">Email</label>
                <div class="col-sm-10">
                  <input class="form-control" id="inputContact10" type="text" placeholder="" value="{{this.email}}">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button class="btn btn-info" type="submit">Update</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div *ngIf="category==='careerapplications'" class="card">
        <div class="card-header">
          Career Application Management
        </div>
        <div class="card-body">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Add a Career Option</h5>
              <form>
                <div class="form-group">
                  <label for="exampleFormControlInput1">Career Title</label>
                  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="title goes here">
                </div>
                <div class="form-group">
                  <label for="exampleFormControlTextarea1">Description</label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <div class="form-group">
                  <label for="file">Choose a Image</label>
                  <input type="file" id="file" (change)="handleFileInput($event.target.files)">
                </div>
              </form>
            </div>
          </div>

        </div>
      </div>

      <div *ngIf="category==='teacherleaveapply'" class="card">
        <div class="card-header">
          Teacher Leave Applications
        </div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>

      <div *ngIf="category==='newadmissions'" class="card">
        <div class="card-header">
          New Admissions
        </div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>

      <div *ngIf="category==='portaluseraccounts'" class="card">
        <div class="card-header">
          Portal User Accounts
        </div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>

    </div>
  </div>
</div>